.App {
    font-family: Arial;
    text-align: center;
  }
  
  
  .App-header {
    background-color: #151515 ;
    display: flex;
    text-align: left;
    flex-direction: column;
    color: white;
  }
  