@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 768px) {
            @content;
        }
    }
}

%common_content {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}
%common_nav {
    background-color: #323232;
    padding: 0 20px 0 20px;
    font-size: 16px;
}

%common_subNav {
    display: inline-block; 
    background-color: #323232;
    z-index: 1;
}



.header {
    font-size: 12px;
    background-color: #151515;

    &__content {
        @extend %common_content;
        &__mobile {
            @extend %common_content;

        }

        &__logo {
            padding-top: 25px;
            width: 80%;
            align-items: center;

            &__mobile {
                padding: 10px;
                width: 50%;
            }
        }

        &__menu {

            &__mobile {
                padding-top: 20px;
                padding-right: 5px;
                &__close {
                    width: 100%;
                }
            }
        }

    &__nav {
        @extend %common_nav;
        height: 57px;
        align-items: center;
        display: flex;
        flex-grow: 0.2;
        top: 3px;
        position: relative;
       /* @media (min-width: 700px ) {
            gap: 50px;
        }*/
        //gap: 25px;
        &__mobile {
            @extend %common_nav;
            display: grid;
            background-color: #323232;
        }
        &__name {
            &__hover {
                color:#d1a04f  ;
            }
            &__subNav {
                @extend %common_subNav;
                &__mobile {
                    position: relative;
                    @extend %common_subNav
                }
                position: fixed;
                
            }
        }


    }


    }


}
