@mixin breakpoint($point) {
    @if $point == md {
        @media (min-width: 768px) {
            @content;
        }
    }
}

%common_content {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1920px;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}
%common_nav {
    background-color: #323232;
    font-size: 16px;
}



.header {
    font-size: 12px;
    background-color: #151515;

    &__content {
        @extend %common_content;

        &__mobile {
            @extend %common_content;
        }

        &__logo {
            padding-top: 25px;
            width: 80%;
            align-items: center;

            &__mobile {
                padding: 10px;
                width: 50%;
            }
        }

        &__menu {

            &__mobile {
                padding-top: 20px;
                padding-right: 5px;
                
                &__close {
                    margin-top:12px;
                    background-color: #323232;
                    height: 50px;
                    
                }
            }
        }

    &__nav {

        &__mobile {
            @extend %common_nav;
            padding-right: 0px;
            padding-left: 0px;
            display: grid;
            background-color: #323232;
        }
    }


    }


}
